header {
  margin-top: 85px; 
  height: 400px;
  width: 100%;
  background-color: #b88a00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name {
  color: white;
  margin-left: 35px;
  margin-top: 13px;
}



@media only screen and (min-width: 1024px) {
  header {
    padding-top: 150px;
    height: 350px;
    width: 350px;
    margin-left: 50px;
  }
  .img {
    padding-bottom: 100px;
  }
}