nav {
  font-family: 'Bungee', cursive;
  background-color: #b88a00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 90px;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

nav span {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
}

.tweeter {
  font-size: 35px;
  padding-top: 25px;
  padding-left: 35px;
}

.create {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 20px;
  padding-right: 35px;
}

.createarrow {
  display: flex;
  flex-direction: column;
}

.arrow {
  color: red;
  padding-top: 10px;
  padding-left: 70px;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background: #4056A1;
  }
}