article div img {
  height: 6vw;
  width: 6vw;
}

article {
  margin-top: 40px;
  width: 50vw;
}

.one-tweet:hover {
  box-shadow: 5px 10px grey;
}

.avatar-name {
  display: flex;
}

.avatar-name-handle {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 20px;
  font-size: 2vw;
}

.days-ago-edit {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.tweet-content {
  border-style: solid;
  padding-left: 50px;          
  margin-left: 20px;           
  margin-right: 20px;
  border-top: #f4f1ec;
  border-right: #f4f1ec;
  border-left: #f4f1ec;
  padding-bottom: 15px;
  font-size: 2.3vw;
}

.one-tweet {
  border-style: solid;
}

.fa {
  display: none;
}

.one-tweet:hover .fa {
  display: inline;
}

.error-empty {
  margin-top: 50px;
  border-style: solid;
  border-color: red;
  width: 80%;
  color: red;
}
.error-toolong {
  margin-top: 50px;
  border-style: solid;
  border-color: red;
  width: 80%;
  color: red;
}

.error-empty p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
}
.error-toolong p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
}