article div img {
  height: 75px;
  width: 75px;
}

article {
  margin-top: 40px;
  border-style: solid;

  /* box-shadow: 5px 10px; */
}

article:hover {
  box-shadow: 5px 10px grey;
}

.avatar-name {
  display: flex;
}

.avatar-name-handle {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 20px;
}

.days-ago-edit {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.tweet-content {
  border-style: solid;
  padding-left: 50px;          
  margin-left: 20px;           
  margin-right: 20px;
  border-top: #f4f1ec;
  border-right: #f4f1ec;
  border-left: #f4f1ec;
  padding-bottom: 15px;
}